.footer-style{
    background-color: var(--cf-theme-900);
    color: var(--cf-light-color);
}

.footer-style a{
    color: var(--cf-theme-200);
}

.footer-style a:hover{
    color: var(--cf-theme-core);
}

.footer-style .bi{
    font-size: 1.5rem;
    padding-inline-start: 0.5rem;
}